[Unit]
Description=Test
After= network.target

[Service]
Type=simple
ExecStart=/bin/bash /opt/service.sh
ExecStop=/bin/kill -SIGKILL $MAINPID

[Install]
WantedBy=multi-user.target
